[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fude"]
	path = fude
	url = https://github.com/takeshinishimura/fude
[submodule "jstager"]
	path = jstager
	url = https://github.com/takeshinishimura/jstager
