[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fude"]
	path = fude
	url = https://github.com/takeshinishimura/fude
	shallow = true
	registered = true
